<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>docdir - $title$</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>

  <body>
    <div class="container"?
      <a href="/"><h3>docdir blog</h3></a>
    </div>

    <div class="container">
      <div class="row">
        $body$
      </div>
    </div>

    <div class="container">
      (c) <a href="http://pocketknife.io">Pocketknife Design & Engineering</a>
    </div>
  </body>

</html>
